@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    text-align: center;
} 
.fontsizedd {
   
    font-size: medium;
    font-weight: 700;
}
.unfontsizedd {
    font-size: smaller;
    font-weight: 400;
    align-self: center;
}

.top {
    top: 0;
    position: absolute;
    float: left;
    transform: translate(-40%, -45%);
    
}
.bottom {
    bottom: 0;
    position: absolute;
    float: right;
    /* transform: translate(-30%, -30%); */
    transform: translate(72%, 65%);

}
.card {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 500px;
    margin-top: 200px;
    border: 1px solid hsl(185, 75%, 39%);
    border-radius: 10px;
    
    
    
}
.profile {
    width: 70px;
    border-radius: 70px;
    position: absolute;
    align-self: center;
    margin-top: 80px;
    border: 2px solid ivory;
}
.stats {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduce {
    margin-top: 15px;
    align-self: center;
}

@media (max-width: 375px) {
    body, html {
        margin: 0;
        padding: 0;
        background-color: hsl(185, 75%, 39%);
        overflow: hidden;
    } 
    .introduce {
        margin-top: 20px;
    }
    .top {
        top: 0;
        position: absolute;
        float: left;
        transform: translate(-75%, -70%);
    }
    .bottom {
        bottom: 0;
        position: absolute;
        float: right;
        transform: translate(10%, 50%);
        
    
    }
    .card {
        background-color: white;
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 100px 5px 0 5px;
        z-index: 1;
        border: 1px solid hsl(185, 75%, 39%);
        border-radius: 10px;
        
        
        
    }
} 